@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

div::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #ecf0f3; /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: #97a7c3; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #ecf0f3; /* creates padding around scroll thumb */
}

a {
  text-decoration: none;
  display: block;
}

img {
  width: 100%;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}
